body {
    background-color: #fff0f2;
    margin: 0px;
    padding: 0px;
}
.star{
    height: 140px;
    width: 180px;
    border: 6px solid rgb(246, 241, 100);
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 250px 250px 250px 250px;
    background: lightblue;
    box-shadow: 0px 0px 0px 6px white;
    background-repeat: repeat-x;
    background-position: 0px 140px;
}
